<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <table>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Email</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
  </table>
      <br>
      <button>
         <a href="{{url_for('register')}}">Zarejestruj uzytkownika</a>
      </button>

</body>
</html>