<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ksiegarnia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ksiegarnia u Michała</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('my_blueprint.main_view')}}">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('my_blueprint.history_view')}}">Historia</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Autor</th>
      <th scope="col">Tytuł</th>
      <th scope="col">Rok wydania</th>
      <th scope="col">Ilość dostępnych sztuk</th>
    </tr>
  </thead>
  <tbody>
  {% for item in data.ksiegozbior %}
    <tr>
      <td>{{item.autor}}</td>
      <td>{{item.tytul}}</td>
      <td>{{item.rok_wydania}}</td>
      <td>{{item.ilosc_dostepnych_ksiazek}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div>
  <h1>Nasze saldo: {{data.saldo}}</h1>
</div>
  <br>
<div class="d-flex justify-content-between p-5">
  <form method="post">
  <h2>Formularz zakupu</h2>
  <div class="mb-3">
    <label for="autor" class="form-label">Autor</label>
    <input type="text" class="form-control" id="autor" aria-describedby="autorHelp" name="autor">
    <div id="autorHelp" class="form-text">Autor ksiązki.</div>
  </div>
  <div class="mb-3">
    <label for="tytul" class="form-label">Tytuł</label>
    <input type="text" class="form-control" id="tytul" aria-describedby="tytulHelp" name="tytul">
    <div id="tytulHelp" class="form-text">Tytuł ksiązki.</div>
  </div>
    <div class="mb-3">
    <label for="ilosc_ksiazek" class="form-label">Ilość książek</label>
    <input type="number" class="form-control" id="ilosc_ksiazek" aria-describedby="iloscKsiazekHelp" name="ilosc_ksiazek">
    <div id="iloscKsiazekHelp" class="form-text">Ilość książek.</div>
   <div class="mb-3">
    <label for="cenaJednostkowa" class="form-label">Cena jednostkowa</label>
    <input type="number" class="form-control" id="cenaJednostkowa" aria-describedby="cenaJednostkowaHelp" name="cena_jednostkowa">
    <div id="cenaJednostkowaHelp" class="form-text">Cena jednostkowa.</div>
  </div>
      <input type="hidden" name="form_type" value="zakup_ksiazki">

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div>
  <form method="post">
    <h2>Formularz zmiany salda</h2>
    <div class="mb-3">
    <label for="kwota" class="form-label>">Kwota</label>
    <input type="number" class="form-control" id="kwota" aria-describedby="kwotaHelp" name="kwota">
      <div id="kwotaHelp" class="form-text">Kwota.</div>
    </div>
    <input type="hidden" name="form_type" value="zmiana_salda">
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>
<div>
  <form method="post">
    <h2>Formularz sprzedaży</h2>
    <div class="mb-3">
    <label for="autor" class="form-label">Autor</label>
    <input type="text" class="form-control" id="autorSale" aria-describedby="autorSaleHelp" name="autor">
    <div id="autorSaleHelp" class="form-text">Autor ksiązki.</div>
  </div>
  <div class="mb-3">
    <label for="tytul" class="form-label">Tytuł</label>
    <input type="text" class="form-control" id="tytulSale" aria-describedby="tytulSaleHelp" name="tytul">
    <div id="tytulSaleHelp" class="form-text">Tytuł ksiązki.</div>
  </div>
    <div class="mb-3">
    <label for="ilosc_ksiazek" class="form-label">Ilość książek</label>
    <input type="number" class="form-control" id="ilosc_ksiazek_sale" aria-describedby="iloscKsiazekSaleHelp" name="ilosc_ksiazek">
    <div id="iloscKsiazekSaleHelp" class="form-text">Ilość książek.</div>
    </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
</div>

</body>
</html>